[Unit]
Description=Mouse Hardware Fix Daemon
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mouse-hardware-fix 0.400 0.025
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
