[Unit]
Description=Mouse Hardware Fix dynamically attached to %I
BindsTo=dev-input-%i.device
After=dev-input-%i.device

[Service]
Type=simple
EnvironmentFile=-/etc/mouse-hardware-fix.conf
ExecStart=/usr/bin/mouse-hardware-fix --device /dev/input/%I $EXTRA_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
